<div class="wrapper">
  <%= form_tag send_invite_user_path, class: "form-signin user-invite-form" do %>
    <h2 class="form-signin-heading">Register: Enter your email</h2>
		<p class="mismatch-error-email error-p">Email doesn't match.</p>
    <%= email_field_tag :email, "", placeholder: "Email", class: "form-control set-email" %>
    <%= email_field_tag :email_confirm, "", placeholder: "Confirm Email", class: "form-control set-email-confirmation" %>
    <%= hidden_field_tag :auth_token, params["auth_token"] %>
    <%= hidden_field_tag :code_id, params["code_id"] %>
    <%= submit_tag "Register", class: "btn btn-lg btn-primary btn-block login-button login-button-check-email" %>
  <% end %>
</div>