<h2><%= current_user.full_name %> <small>Available tax documents</small></h2>
<table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th class="th-sm">Year
        <i class="fa fa-sort float-right" aria-hidden="true"></i>
      </th>
      <th class="th-sm">Company
        <i class="fa fa-sort float-right" aria-hidden="true"></i>
      </th>
      <th class="th-sm">Form
        <i class="fa fa-sort float-right" aria-hidden="true"></i>
      </th>
      <th class="th-sm"></th>
    </tr>
  </thead>
  <tbody>
    <% @documents.each do |document| %>
      <tr>
        <td><%= document.year %></td>
        <td><%= document.user.email %></td>
        <td><%= Document::FormName::NAMES[document.form_name]  %></td>
        <td>
          <%= link_to document_path(document, type: 'view'), target: "_blank" do %>
            <i class="glyphicon glyphicon-eye-open glyphicon-icon-style" title="View" ></i>
          <% end %>
          
          <%= link_to email_doc_document_path(document) do %>
            <i class="glyphicon glyphicon-envelope glyphicon-icon-style" title="Email"></i>
          <% end %>
          
          <%= link_to download_doc_document_path(document) do %>
            <i class="glyphicon glyphicon-download glyphicon-icon-style" title="Download"></i>
          <% end %>
        </td>
      </tr>
    <% end %>  
  </tbody>
</table>