<h2><%= current_user.full_name %> <small>Available tax documents</small></h2>
<table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th class="th-sm">Year
        <i class="fa fa-sort float-right" aria-hidden="true"></i>
      </th>
      <th class="th-sm">Company
        <i class="fa fa-sort float-right" aria-hidden="true"></i>
      </th>
      <th class="th-sm">Form
        <i class="fa fa-sort float-right" aria-hidden="true"></i>
      </th>
      <th class="th-sm">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @documents.each do |document| %>
      <tr>
        <td><%= document.year %></td>
        <td><%= document.user.email %></td>
        <td><%= Document::FormName::NAMES[document.form_name]  %></td>
        <td>
          <%= link_to document_path(document, type: 'view'), target: "_blank" do %>
            <i class="glyphicon glyphicon-eye-open glyphicon-icon-style" title="View" ></i>
          <% end %>
          
          <%= link_to '#', class: "send-email-document-link", data: { id: document.id } do %>
            <i class="glyphicon glyphicon-envelope glyphicon-icon-style" title="Email"></i>
          <% end %>
          
          <%= link_to download_doc_document_path(document) do %>
            <i class="glyphicon glyphicon-download glyphicon-icon-style" title="Download"></i>
          <% end %>
        </td>
      </tr>
    <% end %>  
  </tbody>
</table>
<div class="modal" id="modal-send-email" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Send Document</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_tag email_doc_documents_path, class: "send-document-email-form" do %>
          <%= text_field_tag :email, "", placeholder: "Enter Email", class: "form-control send-email-document-email" %>
          <p class="error-email" style="color: red; display: none;"></p>
          <%= hidden_field_tag :id, "", class: "send-emai-document-id" %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary send-document-email-btn">Send Email</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>