<div class="wrapper">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form-signin" }) do |f| %>
    <h2 class="form-signin-heading">Please login</h2>
    <%= f.email_field :email, placeholder: "Email Address", class: "form-control" %>
    <%= f.password_field :password, class: "form-control", placeholder: "Password" %>      
    <label class="checkbox">
      <%= f.check_box :remember_me %> Remember me
    </label>
    <%= f.submit "Log in", class: "btn btn-lg btn-primary btn-block" %>
  <% end %>
</div>